

<div class="content">
            <% if flash[:error] %>
                <div class="callout alert" style="color:red;">
                    <%= flash[:error] %>
                </div>
            <% end %>

<br>
    <form method="post" action="/prayerwall">
        
        <label name="title">Prayer title: </label><br>

        <input type="text" name="title"><br><br>

        <label name="prayerwall">Prayer wall request</label><br>

        <textarea name="prayerwall" class="textfield" style="height:100px; width:100%;"></textarea><br><br>

        <label name="anonymous">Anonymous?</label>
        <input type="checkbox" name="anonymous" value="anonymous"><br>

        <input type="submit" name="submit" class="button button1" value="Create new prayer wall request">
    </form>

</div>

<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/foundation.js"></script>
<script src="../stylesheets/foundation.css"></script>