<form method="post" action="/login">
    
    <label name="username">User Name: </label>
    <input type="text" name="username" id="username">

    <label name="password">Password: </label>
    <input type="password" name="password" id="password">

    <input class="button button1" type="submit" name="submit" value="Login">
</form>