
<div id="ourmanna-verse">Loading...</div>
<script src="https://beta.ourmanna.com/api/v1/js/?order=random" type="text/javascript"></script>



<div class="content">
    <form method="post" action="/journals">
        <label name="heart">What is on my heart...</label><br>
        <textarea name="heart" class="textfield" style="height:100px; width:100%;"></textarea><br><br>

        <label name="teachme">Lord, teach me to...</label><br>
        <textarea name="teachme" class="textfield" style="height:100px; width:100%;"></textarea><br><br>

        <label name="prayer">Prayers </label><br>
        <textarea name="prayer" class="textfield" style="height:100px; width:100%;"></textarea><br><br>

        <label name="answer">Answers to prayers </label><br>
        <textarea name="answer" class="textfield" style="height:100px; width:100%;"></textarea><br><br>

        <label name="thankful">I am thankful for...</label><br>
        <textarea name="thankful" class="textfield" style="height:100px; width:100%;"></textarea><br><br>

        <input type="submit" name="submit" class="button button1" value="Create journal entry">
    </form>

</div>

