<h1>Welcome to the Prayer Journal app!</h1>



<p>This website is made for people who want to keep a log of prayer. Also, we have a prayer wall so all who participate can pray together!</p>

<p>Please login or signup!</p>

<a href="/signup" class="button button1">Sign Up</a>

<a href="/login" class="button button2">Log in</a>