<div class="content">
    <h1>Welcome to the Prayer Journal app!</h1>
</div>



<p>This website is made for people who want to keep a prayer journal. Also, we have a prayer wall so all who participate can pray together!</p>

<% if is_logged_in? %>

<% else %>
    <p>Please login or signup!</p>

    <a href="/signup" class="button button1">Sign Up</a>

    <a href="/login" class="button button2">Log in</a>
    <br><br>
<% end %>

<div id="ourmanna-verse">Loading...</div>
<script src="https://beta.ourmanna.com/api/v1/js/?order=random" type="text/javascript"></script>