

<div class="content">
<a href="/prayerwall/new" class="button button1">Create new prayer</a>
<div class="div-table2">
    <div class="div-table2-row1">
        <div class="div-table2-col1">Prayer</div>
        <div class="div-table2-col2">User</div>
    </div>

    <% @prayerwall.each do |wallprayer| %>
        <div class="div-table2-row">
            <div class="div-table2-col1"><%= wallprayer.prayer %></div>
            <div class="div-table2-col2">
                <% if wallprayer.anonymous %>
                    Anonymous
                <% else %>
                    <%= User.find(wallprayer.user_id).username %>
                <% end %>
            </div>

        </div>
    <% end %>

</div>
</div>
