<br><br><br>
    <% if flash[:error] %>
        <div class="callout alert" style="color:red;"> 
            <%= flash[:error] %>
        </div>
    <% end %>
<h1>Sign up</h1>

<div class="signup">
    <form method="post" action="/signup">
        <label name="username">User Name: </label><br>
        <input type="text" name="username" id="username"><br><br>

        <label name="email">Email: </label><br>
        <input type="email" name="email" id="email"><br><br>

        <label name="password">Password: </label><br>
        <input type="password" name="password" id="password"><br><br>

        <input type="submit" name="submit" value="Sign Up" class="button button1">
    </form>
</div>
<div class="signup requirements">
    <p>Enter a unique username</p>
    <p>Email must not be blank</p>
    <p>Password must not be blank</p>
</div>